form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #75a7dd;
    text-align: left;
    cursor: pointer;
    margin-bottom: 5px
}

h3 {
    color: rgba(255, 255, 255, 0.425);
}
span {
    color: #ffffff;
}

input[type="radio"] {
    margin-right: 5px;
    display: none;
}

input[type="radio"]:checked + span {
    font-size:110%;
    color: rgb(96, 167, 224);
}

input[type="radio"]:hover + span {
    font-size:110%;
}

#sub {
    text-decoration: none;
    background-color: #1b6abe;
    color: #ffffff;
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sub:hover {
    background-color: #083968;
}

.buttons {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    size: 10px 20px;
}

.rep {
    margin-left: 750px;
}