body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 0;
    margin: auto;
}

.container {   
    max-width: 1200px;
    margin: 200px auto;
    background-color: #262626;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}