<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reza Naghdi - Showcase</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/showcase.css">
</head>
<body>
    <div class="container">
        <h1>Series.1   Exercise.1</h1>
        <form method="get">
            <div>
            <label>Code:</label><br>
                <div class="box">
                    <img src="../static/images/{{img}}" alt="Image not loaded !!!">
                </div>
            </div>
            <div>
                <label>Input:</label><br>
                <div class="box">
                    <div>
                        <label>Select a Scenario:</label><br>
                        <div class="items">
                            <label><input type="radio" name="scenario" value="1" {% if scenario == 1 %}checked{% endif %} checked>1</label>
                            <label><input type="radio" name="scenario" value="2" {% if scenario == 2 %}checked{% endif %}>2</label>
                            <label><input type="radio" name="scenario" value="3" {% if scenario == 3 %}checked{% endif %}>3</label>
                        </div>
                    </div>
                    <div>
                        {% if type_name != "" %}
                        <label>Number of {{type_name}}: </label><br>
                        <div class="items">
                            <input type="number" name="{{type_name}}" min="2" max="35" value="{{type_value}}" disabled>
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <button type="submit" id="sub">SHOW RESULT</button>
                        <button type="submit" id="sub" name="Json" value="1">SHOW JSON</button>
                    </div>
                </div>
            </div>
            <div>
                <label >Output:</label><br>
                <div class="box">
                    <pre>{{output}}</pre>
                </div>
            </div>
            <div>
                <label>Description:</label><br>
                <div class="box">
                    <div class="des">{{description}}</div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
